/* Globals */


/*! FONTS */
/* baloo-regular - latin */
@font-face {
  font-family: 'Baloo';
  font-style: normal;
  font-weight: 400;
  src: local('Baloo Regular'), local('Baloo-Regular'),
      url('../fonts/baloo-v3-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/baloo-v3-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
      url('../fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/open-sans-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
      url('../fonts/open-sans-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/open-sans-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* Font Awesome Free 5.5.0 by @fontawesome - https://fontawesome.com  */
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/fa-solid-900.eot");
  src: url("../fonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), 
  url("../fonts/fa-solid-900.woff2") format("woff2"), 
  url("../fonts/fa-solid-900.woff") format("woff"), 
  url("../fonts/fa-solid-900.ttf") format("truetype"), 
  url("../fonts/fa-solid-900.svg#fontawesome") format("svg"); }

.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900; }


/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  background-color: #fff;
  border: .05rem solid #fff;
}


/* Base structure  */
html,
body {
  min-height: 100%;
  background-color: #333;
  margin-bottom: 10%; /* Margin bottom by footer height */
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-family: 'Open Sans';
  margin: 0 0 100px;
}

.cover-container {
  color: inherit;
}

/* Header */
.masthead {
  color: inherit;
}
.masthead-brand {
  font-family: 'Baloo';
  margin-bottom: 0;
  font-size: 1.9rem;
}

.nav-masthead .nav-link {
  padding: .1rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.navbar, button.navbar-toggler {
  font-size: 1.4rem;
}
.navbar-dark .navbar-toggler {
  padding: 0rem .75rem;
  line-height: 1;
  color: #fff;
  background-color: transparent;
  border: none;
}
.navbar-dark .navbar-toggler:focus, .navbar-dark .navbar-toggler:active {
  outline: none;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle{
  background-color: #007bff;
  border-color: #007bff;
}

.settings-table-left {
  display: inline-block;
  width: 105px !important;
}
.settings-table-right {
  display: inline-block;
  width: 120px !important;
}

.image{
  max-width: 1500px;
  max-height: 1500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 40em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/* Footer */
.mastfoot {
  color: rgba(255, 255, 255, .5);
  /* Below to make sticky */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%; /* Set the fixed height of the footer here */
  line-height: 20px; /* Vertically center the text there */
}