<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/icon_192x192.png') }}" sizes="192x192">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/icons/icon_152x152.png') }}">

    <title>{{ config_data.app_name }}</title>

    <!-- Bootstrap core and plugin *CSS* -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-switch-modified.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/fontawesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  </head>

  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 mx-auto flex-column">

      <header class="masthead mb-auto">
        <div class="navbar navbar-dark">
          <div class="container d-flex justify-content-between">
            <div class="col-md-3 col-6"><span id="masthead-brand" class="masthead-brand">{{ config_data.app_name }}</span></div>
            <!-- Camera on/off rounded SWITCH -->
            <!-- http://www.jque.re/plugins/version3/bootstrap.switch/  https://github.com/Bttstrp/bootstrap-switch -->
            <div class="col-md-3 col-6"><!-- Cam State switch  -->
              <input type="checkbox" name="attrCamState" id="attrCamState">
            </div>
            <div class="col-md-3 col-6"><!-- Light levels  -->
              <ul class="list-unstyled list-light">
                  <li><i class="fa fa-lightbulb"></i>
                    <div id="BG-LightLevel" class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                      <label class="btn {% if config_data.light_level == '1' %}btn-primary{% else %}btn-light{% endif %}" for="attrLightLevel-1">
                        <input type="radio" name="attrLightLevel" id="attrLightLevel-1" autocomplete="off" {% if config_data.light_level == '1' %}checked{% endif %}>L
                      </label>
                      <label class="btn {% if config_data.light_level == '2' %}btn-primary{% else %}btn-light{% endif %}" for="attrLightLevel-2">
                        <input type="radio" name="attrLightLevel" id="attrLightLevel-2" autocomplete="off" {% if config_data.light_level == '2' %}checked{% endif %}>M
                      </label>
                      <label class="btn {% if config_data.light_level == '3' %}btn-primary{% else %}btn-light{% endif %}" for="attrLightLevel-3">
                        <input type="radio" name="attrLightLevel" id="attrLightLevel-3" autocomplete="off" {% if config_data.light_level == '3' %}checked{% endif %}>H
                      </label>
                    </div>
                  </li>
              </ul>
            </div>
            <div class="col-md-3 col-6"><!-- Menu toggle (Bars Icon) -->
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarConfig" aria-controls="navbarConfig" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars fa-lg"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="collapse" id="navbarConfig">
            <div class="container">
              <div class="row">
                <div class="col-sm-6 col-md-6 pt-3">
                  <h5 class="text-white">Light and App Settings</h5>
                  <ul class="list-unstyled"><!-- LED Wavelength-->
                      <li>LEDs (&lambda; nm):
                        <div  id="BG-Wavelength" class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                          <label class="btn {% if config_data.light_wavelength == '850nm' %}btn-primary{% else %}btn-light{% endif %}" for="attrWavelen-850nm">
                            <input type="radio" name="attrWavelen" id="attrWavelen-850nm" autocomplete="off" {% if config_data.light_wavelength == '850nm' %}checked{% endif %}>850
                          </label>
                          <label class="btn {% if config_data.light_wavelength == 'Both' %}btn-primary{% else %}btn-light{% endif %}" for="attrWavelen-Both">
                            <input type="radio" name="attrWavelen" id="attrWavelen-Both" autocomplete="off" {% if config_data.light_wavelength == 'Both' %}checked{% endif %}>Both
                          </label>
                          <label class="btn {% if config_data.light_wavelength == '940nm' %}btn-primary{% else %}btn-light{% endif %}" for="attrWavelen-940nm">
                            <input type="radio" name="attrWavelen" id="attrWavelen-940nm" autocomplete="off" {% if config_data.light_wavelength == '940nm' %}checked{% endif %}>940
                          </label>
                        </div>
                      </li>
                  </ul>
                  <ul class="list-unstyled"><!-- App Name -->
                    <li>
                        <div class="usertext">
                          App name: 
                          <input type="input" class="form-control form-control-sm d-inline col-4" 
                            id="attrAppName" value="{{ config_data.app_name }}">
                          <button type="button" class="btn btn-sm btn-primary mb-1 d-inline" id="attrAppNameBtn"
                            onclick="alterConfig($('#attrAppName'),'app_name',$('#attrAppName').val(),updateTitle);">Save</button>
                        </div>
                    </li>
                  </ul>
                  <ul class="list-unstyled"><!-- Wifi Name -->
                    <li>
                        <div class="usertext">
                          Wifi name: 
                          <input type="input" class="form-control form-control-sm d-inline col-4" 
                            id="attrWifiSSID" value="{{ config_data.wifi_ssid }}">
                          <button type="button" class="btn btn-sm btn-primary mb-1 d-inline" id="attrWifiSSIDBtn" onclick="alterConfig($('#attrWifiSSID'),'wifi_ssid',$('#attrWifiSSID').val(),updateInputValue);">Save</button>
                        </div>
                    </li>
                  </ul>
                  <ul class="list-unstyled"><!-- Wifi Pwd -->
                    <li>
                        <div class="usertext">
                          &nbsp;&nbsp;Wifi pwd: 
                          <input type="input" class="form-control form-control-sm d-inline col-4" 
                            id="attrWifiPwd" value="{{ config_data.wifi_pwd }}">
                          <button type="button" class="btn btn-sm btn-primary mb-1 d-inline btn-confirm" id="attrWifiPwdBtn">Save</button>
                        </div>
                    </li>
                  </ul>
                  <ul class="list-unstyled pt-3"><!--Shutdown Pi -->
                      <li><button type="button" class="btn btn-sm btn-danger mb-1 d-inline" id="attrShutdownBtn"
                          onclick="shutdownPi(); event.preventDefault();"><i class="fa fa-power-off fa-sm"></i> Shut down device</button>
                      </li>
                    </ul>
                </div>

                <div class="col-sm-6 col-md-6 pt-3">
                  <h5 class="text-white">Enhancement Region</h5>
                  <ul class="list-unstyled"><!-- ROI Box Size  -->
                    <li>Size:
                      <div id="BG-ROI" class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                        <label class="btn {% if config_data.enhancement_roi == 'Off' %}btn-primary{% else %}btn-light{% endif %}" for="attrROI-Off">
                          <input type="radio" name="attrROI" id="attrROI-Off" autocomplete="off" {% if config_data.enhancement_roi == 'Off' %}checked{% endif %}><i class="fa fa-ban fa-lg"></i>
                        </label>
                        <label class="btn {% if config_data.enhancement_roi == 'Small' %}btn-primary{% else %}btn-light{% endif %}" for="attrROI-Small">
                          <input type="radio" name="attrROI" id="attrROI-Small" autocomplete="off" {% if config_data.enhancement_roi == 'Small' %}checked{% endif %}>&nbsp;<i class="fa fa-expand fa-sm"></i>&nbsp;
                        </label>
                        <label class="btn {% if config_data.enhancement_roi == 'Large' %}btn-primary{% else %}btn-light{% endif %}" for="attrROI-Large">
                          <input type="radio" name="attrROI" id="attrROI-Large" autocomplete="off" {% if config_data.enhancement_roi == 'Large' %}checked{% endif %}><i class="fa fa-expand fa-lg"></i>
                        </label>
                      </div>
                    </li>
                  </ul>
                  <ul class="list-unstyled"><!-- ROI Method  -->
                    <li>Method:
                      <div id="BG-EQMethod" class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                        <label class="btn {% if config_data.enhancement_method == 'HE' %}btn-primary{% else %}btn-light{% endif %}" for="attrEQMethod-HE">
                          <input type="radio" name="EQMethod-HE" id="attrEQMethod-HE" autocomplete="off" {% if config_data.enhancement_method == 'HE' %}checked{% endif %}>HE
                        </label>
                        <label class="btn {% if config_data.enhancement_method == 'CLAHE' %}btn-primary{% else %}btn-light{% endif %}" for="attrEQMethod-CLAHE">
                          <input type="radio" name="EQMethod-CLAHE" id="attrEQMethod-CLAHE" autocomplete="off" {% if config_data.enhancement_method == 'CLAHE' %}checked{% endif %}>CLAHE
                        </label>
                      </div>
                    </li>
                  </ul>
                      
                  <h5 class="text-white pt-3">Camera Settings</h5>
                  <ul class="list-unstyled">
                    <li class="mb-3"><span class="settings-table-left text-right">Contrast:</span>
                      <span class="settings-table-right text-right">
                          <a href="#" 
                            onclick="alterConfig($('#attrContrast'),'cam_contrast',parseInt($('#attrContrast').text())-10,updateTextValue); event.preventDefault();"
                            ><i class="fa fa-minus-square fa-lg"></i></a>
                            <strong id="attrContrast">{{ config_data.cam_contrast|safe }}</strong><sup> / ±100</sup>
                          <a href="#" 
                            onclick="alterConfig($('#attrContrast'),'cam_contrast',parseInt($('#attrContrast').text())+10,updateTextValue); event.preventDefault();"
                            ><i class="fa fa-plus-square fa-lg"></i></a>
                      </span>
                    </li>

                  </ul>
                </div>
              </div>

              <div class="row"><!-- Version and CPU Stats  -->
                <div class="col-sm-12 col-md-12 pb-2">
                  <span class="small text-muted">
                    Version: 1.0 |
                    Temp: <span id="statCPUTemp">{{ stats_data.cpu_temp|safe }}</span>&#8451; | 
                    CPU: <span id="statCPUUsage">{{ stats_data.cpu_usage|safe }}</span>% | 
                    RAM: <span id="statRAMUsage">{{ stats_data.ram_usage|safe }}</span>%
                  </br> 
                    <a href="#" class="" onclick="refreshStats(); event.preventDefault();"><i class="fa fa-sync-alt fa-sm"></i> Refresh</a>
                    <a href="#" class="" onclick="shutdownServer(); event.preventDefault();"><i class="fa fa-stop-circle fa-sm"></i> Stop server</a>
                  </span>
                </div>
              </div>

            </div>
        </div>
      </header>

      <main role="main" class="image">
        <div id="camState">
            <p>&nbsp;</p>
            <!-- Camera off msg or video stream will be dynamically placed below -->
            <p class="lead"></p>
        </div>
      </main>


      <div class="modal fade" id="mo-confirm-change" tabindex="-1" role="dialog" aria-labelledby="modalWifiChangeLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    Whoa there!
                </div>
                <div class="modal-body">
                    If you forget this new password you won't be able to connect to your VeinCam next time you boot it up.
                </div>
              
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="modal-btn-cancel" aria-label="Cancel">Cancel</button>
                    <button type="button" class="btn btn-danger" id="modal-btn-doit">Change It!</button>
                </div>
            </div>
        </div>
      </div>

    </div>

    <!-- Bootstrap core *JavaScript*
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-switch.min.js') }}"></script>

    <!-- Custom AJAX *JavaScript* - on page as this is a tiny app
    ================================================== -->    
    <script>
      // Update config attribute functions that run after a successful
      // AJAX call to server.
      function updateTextValue(object, attr, newVal){
        object.text(newVal);
      }
      function updateInputValue(object, attr, newVal){
        object.val(newVal);
      }
      function updateTitle(object, attr, newVal){
        object.val(newVal);
        $('title').text(newVal);
        $('#masthead-brand').text(newVal);
      }
      function updateBG(object, attr, newVal){
        //$(".btn-group > label").removeClass("btn-primary").addClass("btn-light");
        object.siblings("label").removeClass("btn-primary").addClass("btn-light");
        object.removeClass("btn-light").addClass("btn-primary");
      }
      function updateCamState(object, attr, newVal){
        return; // Do nothing. Handled elsewhere.
      }


      var modalConfirmWifi = function(callback){
        $(".btn-confirm").on("click", function(){
          $("#mo-confirm-change").modal('show');
        });

        $("#modal-btn-doit").on("click", function(){
          callback(true);
          $("#mo-confirm-change").modal('hide');
        });

        $("#modal-btn-cancel").on("click", function(){
          callback(false);
          $("#mo-confirm-change").modal('hide');
        });
      };

      modalConfirmWifi(function(confirm){
        if(confirm){
          alterConfig($('#attrWifiPwd'),'wifi_pwd',$('#attrWifiPwd').val(),updateInputValue);
        }else{
          return false;
        }
      });

     // AJAX function for actioning user-initiated change
      // to configuration (and storing value statically server-side). 
      function alterConfig(object, attr, newVal, updateFunc){
      //console.log({attribute : attr, value : newVal});  
      $.ajax({
          //the url to send the data to, data to send (JSON), and type
          url: "/alter-config",
          data: {attribute : attr, value : newVal},
          type: "POST",
          //datatype expected to get in reply form server
          dataType: "json",
          //on success, update the values at this end
          success: function(response, status, jqXHR){
              console.log(response);
              // Passed in function, accounts for updating different types of things
              updateFunc(object,attr,newVal);
          },
          //on error
          error: function(error){
              console.log(error);
              // TODO Rasie a messagebox
          }
        });
      } 

      function refreshStats(){
      console.log('Refreshing stats');
      $.ajax({
          //the url to send the data to, data to send (JSON), and type
          url: "/refresh-stats",
          data: {},
          type: "POST",
          //datatype expected to get in reply form server
          dataType: "json",
          //on success, update the values at this end
          success: function(response, status, jqXHR){
              console.log(response);
              updateTextValue($('#statCPUTemp'), '', response.cpu_temp);
              updateTextValue($('#statCPUUsage'), '', response.cpu_usage);
              updateTextValue($('#statRAMUsage'), '', response.ram_usage);
          },
          //on error
          error: function(error){
              console.log(error);
              // TODO Rasie a messagebox
          }
      });
      } 

      function shutdownServer(){
      console.log('Attempting shutdown of server');
      $.ajax({
          //the url to send the data to, data to send (JSON), and type
          url: "/shutserver",
          data: {},
          type: "POST",
          //datatype expected to get in reply from server
          dataType: "json",
          //on success, update the values at this end
          success: function(response, status, jqXHR){
              console.log(response);
          },
          //on error
          error: function(error){
              console.log(error);
              // TODO Rasie a messagebox
          }
      });
      } 

      function shutdownPi(){
      console.log('Attempting shutdown of Pi');
      $.ajax({
          //the url to send the data to, data to send (JSON), and type
          url: "/shutpi",
          data: {},
          type: "POST",
          //datatype expected to get in reply from server
          dataType: "json",
          //on success, update the values at this end
          success: function(response, status, jqXHR){
              console.log(response);
          },
          //on error
          error: function(error){
              console.log(error);
              // TODO Rasie a messagebox
          }
      });
      } 

      // Bulk-assign click event for the button groups. UpdateBG kept as
      // a separate function (above) as it should only run if AJAX call is successful.
      $("#BG-LightLevel > .btn").bind('click', (function(){
        console.log("Buttons currently disabled.");
        event.preventDefault(); // Will get modified on cam state change, further below.
      }));
      $("#BG-LightLevel > label").addClass('disabled');

      $("#BG-Wavelength > .btn").click(function(){
        console.log( $(this).children("input")[0]["name"], $(this).children("input").attr('id').split("-").pop());
        alterConfig($(this), 
          'light_wavelength', 
          $(this).children("input").attr('id').split("-").pop(), 
          updateBG);
      });
      $("#BG-ROI > .btn").click(function(){
        console.log( $(this).children("input")[0]["name"], $(this).children("input").attr('id').split("-").pop());
        alterConfig($(this),
          'enhancement_roi',
          $(this).children("input").attr('id').split("-").pop(),
          updateBG);
      });
      $("#BG-EQMethod > .btn").click(function(){
        console.log( $(this).children("input")[0]["name"], $(this).children("input").attr('id').split("-").pop());
        alterConfig($(this),
          'enhancement_method',
          $(this).children("input").attr('id').split("-").pop(),
          updateBG);
      });

      // TODO Camera always initially off. Function to handle UI changes and
      // initiate change of state server-side 
      function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
      }

      async function toggleCameraState(turnOn){
        console.log("camera toggled to:", turnOn);

        // No AJAX call explicitly required here.
        // is done in 'alterConfig' instead.
        if (turnOn) {
          alterConfig($("#attrCamState"), 'camera_state', turnOn, updateCamState);
          $("#camState > p.lead").empty();
          $incvar=$incvar+1;
          // console.log($incvar);
          $("#camState > p.lead").html('<img src="\{{ url_for('video_feed') }}/'+$incvar+'/\" height="90%" width="90%" >');
          $("#BG-LightLevel > label").removeClass('disabled');
          $("#BG-LightLevel > .btn").unbind('click');
          $("#BG-LightLevel > .btn").click(function(){
            console.log( $(this).children("input")[0]["name"], $(this).children("input").attr('id').split("-").pop());
            alterConfig($(this), 
            'light_level', 
            $(this).children("input").attr('id').split("-").pop(), 
            updateBG);
          });

        } else { 
          alterConfig($("#attrCamState"), 'camera_state', turnOn, updateCamState);
          $("#camState > p.lead").empty();
          $("#camState > p.lead").html($cam_offtext);
          $("#BG-LightLevel > label").addClass('disabled');
          $("#BG-LightLevel > .btn").unbind('click');
          $("#BG-LightLevel > .btn").bind('click', (function(){
            console.log("Buttons currently disabled.");
            event.preventDefault(); // Will get modified on cam state change, further below.
          }));
        }
      }

      $(document).ready(function(){
        // Some initial values
        $incvar=0;

        $cam_offtext="The camera is OFF.</br>Tap the switch above to turn it on.</br>(The light buttons will also become available.)";
        $("#camState > p.lead").html($cam_offtext);

        // Set up key press on app name change input field to trigger change . 
        $('.usertext input:input').keyup(function (e) {
        var key = e.which;
        if(key == 13)  // the enter key code
          {
            $('#'+this.id+'Btn').click();
            e.preventDefault(); 
          }
        });  

        // Modify the camera state checkbox to something pretty. 
        $("#attrCamState").bootstrapSwitch("labelText","<i class='fa fa-camera fa-lg'></i>");

        // TODO Capture state change to and initiate ui spinners and fire server event.
        // https://stackoverflow.com/questions/18830219/bootstrap-switch-checked-event
        $('#attrCamState').on('switchChange.bootstrapSwitch', function (e, state) {
          //console.log(e, state);
          toggleCameraState(state);
        });

      });
    </script>

  </body>
</html>